@import "~common/style/color.scss";
@import "~common/style/fonts.scss";

.analysis-single-election-box {
  padding: 12px 12px 6px 12px;
  ul {
    li {
      text-align: center;
      padding: 7px 12px;
      cursor: pointer;
      border-radius: 4px;
      color: $teamRateGrey;
      &:hover, &.active {
        background: $MainColor;
        color: #FFFFFF;
      }

    }
  }
}