<div class="tool"  ms-controller="pageTool">
    <div class="tool">
            <div class="page_list" :if="@isShow()">
                <ul class="clearfix pageLi">
                    <li class="pageNum u-pg1" data="0" :click="firstHandel">首页</li>
                    <li class="propTen u-pg1" data="-10" :if="@isProp" :click="propHandel">上十页</li>
                    <li class="pageNum u-pg2"  :for="(i, value) in @numArr"
                        :attr="{data:value.id}" :click="clickHandel(value, $event)" 
                        :class="value.active && @activeClass ">
                        {{value.id}}
                    </li>
                    <li class="nextTen u-pg1" data="+10" :if="@isNext" :click="nextHandel">下十页</li>
                    <li class="pageNum u-pg1" data="00" :click="lastPageHandel">尾页</li>
                </ul>
            </div>
        <div class="lastTip">查询结果：有 <span class="result_num">{{@allMarkets}}</span> 场赛事符合条件</div>
    </div>
</div>