@import "~common/style/color.scss";
@import "~common/style/fonts.scss";
.eventNations{
  .content{
    .nations{
      cursor: pointer;
      width: 16.6%;
      height: 72px;
      line-height: 72px;
      text-align: center;
      vertical-align: middle;
      border-right: 1px solid $CommonHeaderBg;
      box-sizing: border-box;
      &.last{
        border:none;
      }
      .flag{
        margin-left: 32px;
        margin-top: 20px;
        width: 48px;
        height: 32px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
      .nationName{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-left: 11px;
        font-size: $FONT_18;
        color: $BasicFontColor;
      }
    }
  }
  .areas{
    width: 100%;
    line-height: 70px;
    border-top: 2px solid $MainColor;
    border-radius: 16px;
    background-color: $BgColor;
    word-wrap: break-word;
    position: relative;
    .triangle{
      position: absolute;
      top:-5px;
      left:0;
      width: 6px;
      height: 6px;
      border-left: 2px solid $MainColor;
      border-top: 2px solid $MainColor;
      background-color: $BgColor;
      transform: rotateZ(45deg);
    }
    >a{
      color: $teamRateGrey;
      font-size: $FONT_16;
      margin: 0 30px;
      position: relative;
      &:hover{
        color: #2B78B2;
      }
      .seasons{
        position: absolute;
        right: 0;
        top: 50%;
        background-color: $BgColor;
        border: 1px solid $CommonBorderColor;
        transform: translate(100%, -50%);
        z-index: 9;
        box-shadow: 2px 4px 2px #999;
        li{
          cursor: pointer;
          width: 86px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          color: #2B78B2;
          font-size: $FONT_14;
          &:hover{
            color: #ffffff;
            background-color: $MainColor;
          }
        }
      }
    }
  }
}