.liveWordsPage {
  width: 980px;
  height: auto;
  min-height: 200px;
  border: 1px solid #DEDEDE;
  .liveInfo {
    width: 980px;
    height: auto;
    padding: 31px;
    box-sizing: border-box;
  }
}
