@import "~common/style/color.scss";
@import "~common/style/fonts.scss";

.history-same {
    .history-same-box{
      width: 585px;
      float: left;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.2);
      margin-right: 20px;
      box-sizing: border-box;
      &:last-child {
        margin-right: 0;
      }
      .history-same-box-content {
        .market-li{
          >div{
            float: left;
            text-align: center;
            border-right: 1px solid $BorderColor;
            &:nth-of-type(1){
              width: 68px;
            }
            &:nth-of-type(2){
              width: 89px;
            }
            &:nth-of-type(3){
              width: 116px;
              text-align: right;
              padding-right: 12px;
            }
            &:nth-of-type(4){
              width: 54px;
            }
            &:nth-of-type(5){
              width: 116px;
              text-align: left;
              padding-left: 12px;
            }
            &:nth-of-type(6){
              width: 60px;
            }
            &:nth-of-type(7){
              width: 50px;
              border-right: none;
            }
          }
        }
        .history-same-content-title {
          height: 32px;
          line-height: 32px;
          background: #F2F2F2;
          border-top: 1px solid $BorderColor;
          border-bottom: 1px solid $BorderColor;
          div{
            &:nth-of-type(3){
              text-align: right;

            }
            &:nth-of-type(5){
              text-align: left;
            }
          }
        }
        .history-same-content-content{
          ul {
            li{
              height: 40px;
              line-height: 40px;
              border-bottom: 1px solid $BorderColor;
              &:nth-of-type(even) {
                background: #FAFAFA;
              }
              &:last-child {
                border-bottom: none;
              }
              >div{
                &:nth-of-type(1){
                  color: #B42DB6;
                }
              }
            }
          }
        }
      }
    }
}