<div class="vueBetslipCheckBox" :class="{check: ops.isChecked}" @click="clickHandle">
    <span :class="{extend: ops.isExtend, down: _isDown}">
        {{ops.text}}
    </span>
</div>































